<!-- <Label [text]="message"></Label>
<Button 
    (tap)="changeMessage()" 
    text="Change message"></Button> -->

<!-- <Label text="{{students[0].firstname}}"></Label> -->

<!-- Exemple d'utilisation du GridLayout -->
<!-- <GridLayout columns="100,*,100">
    <Label class="first" col="0" text="blabla" fontSize="20"></Label>
    <Label col="1" text="toto"></Label>
    <Label col="2" text="tata"></Label>
</GridLayout> -->

<GridLayout
    height="50"
    *ngFor="let student of students" 
    columns="100, 100, *">
    <Label col="0" [text]="student.firstname"></Label>
    <Label col="1" [text]="student.lastname"></Label>
</GridLayout>
